h1 login page
form(action="/admin", method="POST") 
    label Login 
    input(name='login',value="admin", id="login" )
    label Password 
    input(type="password", name="password", value="123", id="password")
    input(type="submit", value="login")


script(src="js/login.js") 